<div class="user-details">
  <h2>{{ username }}'s - Favorite Countries</h2>
  <div *ngIf="favoriteCountries?.length; else noData" class="countries-container">
    <div *ngFor="let country of favoriteCountries" class="country-row">
      <span class="country-name">{{ country.name }}</span>
      <span class="country-code">({{ country.code }})</span>
      <span class="country-capitals">Capitals: {{ country.capitals?.join(', ') || 'N/A' }}</span>
    </div>
  </div>
  <ng-template #noData>
    <p class="no-data">No favorite countries found.</p>
  </ng-template>
  <a routerLink="/users" class="back-link">Back to User List</a>
</div>
