<div class="add-user-container">
  <h2>Add New User</h2>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        [(ngModel)]="username"
        required
        minlength="3"
      />
    </div>

    <button type="submit" class="submit-button" [disabled]="!userForm.valid">
      Add User
    </button>
  </form>
</div>
